<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>


    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a href="http://bsk.education/AP-CSP/Code_Examples/">⚠️ Code Examples</a><br>
      <a href="http://alpha.editor.p5js.org/"><span class="octicon octicon-terminal"></span> <code>p5✱js Web Editor</code></a><br>


<!-- List Categories -->
      {% for category in site.categories %}
      <hr>
        <b class = "lead">{{ category | first }}</b>
      <!-- <b><a name="{{ category | first }}">{{ category | first }}</a></b> -->
          {% for posts in category %}
            {% for post in posts %}
            {{ post.date | date: '%-m/%-d' }}
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br>
            {% endfor %}
          {% endfor %}
      {% endfor %}
<!-- End categories -->
      <!-- <h2>Lessons</h2>
      {% for post in site.posts %}
          <p class="lead">{{ post.date | date: '%B %d, %Y' }}<br>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>

        {% endfor %}
      </p> -->
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
      <!-- <a href="http://alpha.editor.p5js.org/"><span class="octicon octicon-terminal"></span>
<code>p5✱js Web Editor</code></a><br>
<a href="http://bsk.education/AP-CSP/Code_Examples/">Code Examples</a> -->
      <a class="sidebar-nav-item" href="https://github.com/bensk/AP-CSP"><span class="octicon octicon-mark-github"></span></a>
<div class="tc_div_9048" style="width:100%;height:auto;border:1px solid #7F1AE5"><a title="AP CS Exam" href="//www.tickcounter.com/widget/countdown/1493985600000/uct/dhms/7F1AE5FFFFFFFFFFFFFFFFFF/0/7F1AE51/AP_CS_Exam">AP CS Exam</a><a title="Countdown" href="https://www.tickcounter.com/">Countdown</a></div><script type="text/javascript">(function(){ var s=document.createElement('script');s.src="//www.tickcounter.com/loader.js";s.async='async';s.onload=function() { tc_widget_loader('tc_div_9048', 'Countdown', 650, ["1494000000000","us-eastern","dhms","7F1AE5FFFFFFFFFFFFFFFFFF","0","7F1AE51","AP CS Exam"]);};s.onreadystatechange=s.onload;var head=document.getElementsByTagName('head')[0];head.appendChild(s);}());</script>


    </nav>


  </div>
</div>
