<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetOrder</key>
		<real>504383534.03466201</real>
	</dict>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetOrder</key>
		<dict>
			<key>2c89bf0cd77e82c7542ad5056ddc131a1283dcddeca51a70394c3a2ab782451b</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
